.menu {
    padding: 5rem;
    background-color: var(--menu-color);
    list-style: none;
    border-radius: 2rem;
    animation: start 1s forwards;

    li {
        color: var(--white-color);
        font-size: var(--font-text-size);
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    } 

    li:not(:last-child) {
        margin-bottom: 33%;
    }

    &.hidden {
        position: absolute;
        animation: slide 1s forwards;
    }

    @keyframes slide {
        100% { 
            opacity: 0;
            transform: translateX(-100vw); 
        }
    }

    @keyframes start {
        0% {
            opacity: 0;
        }
    
        100% { 
            opacity: 1;
        }
    }
}
