.container-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
    .game {
        padding: 2.5rem;
        border-radius: 2rem;
        background-color: rgb(73, 72, 72);
        font-size: clamp(2rem, 2vw, 3rem);
        color: white;

        .players {
            .player {
                display: flex;
                margin: 1.5rem 0;

                p {
                    font-size: clamp(2rem, 2vw, 3rem);
                    color: white;
                    margin-right: 2rem;
                }
        
                button {
                    font-size: clamp(2rem, 2vw, 3rem);
                }
            }
        }
    }
}