.tic-tac-toe {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 2px white;
  border-radius: 1rem;
  margin-bottom: 2rem;

  .title {
    font-size: $text-font-size-medium;
    color: white;
  }

  .score {
    font-size: $text-font-size-small;
    color: white;  
    word-break: break-all;  
  }

  .move {
    font-size: $text-font-size-small;
    color: white;
  }

  .board {
    display: grid;
    grid-template-columns: $text-font-size-very-large $text-font-size-very-large $text-font-size-very-large;
    grid-template-rows: $text-font-size-very-large $text-font-size-very-large $text-font-size-very-large;

    .tile {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px black;
      background-color: gray;
      height: $text-font-size-very-large;
      width: $text-font-size-very-large;
    }

    .X-sign:after {
      font-size: $text-font-size-very-large;    
      content: "\0058";
    }

    .O-sign:after {
      font-size: $text-font-size-very-large;     
      content: "\004F";
    }
  }
}