.game-rgb {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: $text-font-size-medium;
    color: white;
  }

  .rgb {
    font-size: $text-font-size-medium;
    color: white;
    border-bottom: 1px solid white;
    margin: 1rem;
  }

  .correct {
    font-size: $text-font-size-medium;
    color: white;
    border-bottom: 1px solid white;
    margin: 1rem;
  }

  .players {
    margin: 2rem;

    .player {
      margin: 1rem;
      font-size: $text-font-size-small;
      word-break: break-all;
      color: white;
    }
  }

  .colors-section {
    text-align: center;

    .color-title {
      font-size: $text-font-size-small;
      margin: 3rem;
      color: white;
    }

    .colors {
      display: flex;
      flex-wrap: wrap;
      gap: 5rem;
      align-items: center;
      justify-content: center;

      .color {
        flex-basis: 33%;
        width: $text-font-size-large;
        height: $text-font-size-large;
      }
    }
  }
}
