.header {
    color: rgb(255, 255, 255);
    text-align: center;

    h1 {
        font-size: $text-font-size-large;
        padding: 4%;
    }

    h2 {
        font-size: $text-font-size-medium;
    }
}