.header {
    color: rgb(255, 255, 255);
    text-align: center;

    h1 {
        font-size: clamp(2rem, 3vw, 4rem);
        padding: 4%;
    }

    h2 {
        font-size: clamp(1.5rem, 2.5vw, 3.5rem);
    }
}