.lobby {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;

  .lobby-chat {
    margin: 2rem;
    flex-basis: 40%;

    .chat-header {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      background-color: rgb(73, 72, 72);
      width: 100%;
      color: white;
      font-size: $text-font-size-medium;
      border-bottom: white 1px solid;
    }

    .messages {
      height: 30rem;
      width: 100%;
      background-color: rgb(73, 72, 72);
      font-size: $text-font-size-medium;
      overflow-y: auto;
      word-break: break-all;
      display: flex;
      flex-direction: column;

      .message {
        align-self: flex-start;
        margin: 0.5rem;
        border-radius: 1rem;
        background-color: rgb(130, 146, 135);
        font-size: $text-font-size-medium;
        color: white;
        padding: 0.5rem;
      }

      .right {
        align-self: flex-end;
        background-color: rgb(72, 161, 101);
      }
    }

    form {
      input {
        font-size: $text-font-size-small;
      }

      button {
        font-size: $text-font-size-small;
      }
    }  
  }

  .lobby-players {
    padding: 1rem;
    margin: 2rem;
    flex-basis: 40%;
    border-radius: 2rem;
    background-color: rgb(73, 72, 72);
    font-size: $text-font-size-medium;

    button {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .player-list {       
      .player {
        display: flex;

        p {
          font-size: $text-font-size-small;
          color: white;
          margin-right: 2rem;
          overflow: auto;
        }

        .ready {
          font-size: $text-font-size-small;
          background-color: rgb(161, 50, 50);
        }

        .active {
          background-color: rgb(72, 161, 101);
        }
      }
    }
  }
}