.lobby {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .lobby-chat {
    margin: 2rem;
    flex-basis: 40%;
  }

  .lobby-players {
    margin: 2rem;
    flex-basis: 40%;
    border-radius: 2rem;
    background-color: rgb(73, 72, 72);
    font-size: $text-font-size;

    button {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .player-list {       
      .player {
        display: flex;

        p {
          font-size: $text-font-size-small;
          color: white;
          margin-right: 2rem;
          overflow: auto;
        }

        .ready {
          font-size: $text-font-size-small;
          background-color: rgb(161, 50, 50);
        }

        .active {
          background-color: rgb(72, 161, 101);
        }
      }
    }
  }
}