$text-font-size-small: clamp(1.5rem, 2vw, 3rem);
$text-font-size-medium: clamp(2rem, 2.5vw, 3.5rem);
$text-font-size-large: clamp(3rem, 3vw, 5rem);
$text-font-size-very-large: clamp(8rem, 10vw, 15rem);

$background-color-light: rgb(73, 72, 72);
