.header {
  color: white;
  text-align: center;
}

.header h1 {
  font-size: clamp(3rem, 3vw, 5rem);
  padding: 4%;
}

.header h2 {
  font-size: clamp(2rem, 2.5vw, 3.5rem);
}

.nickname-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  background-color: #424040;
  padding: 1rem;
  margin: 3rem;
  border-radius: 2rem;
}

.nickname-form * {
  margin: 0.5rem 1rem;
}

.nickname-form input {
  outline: none;
  border: none;
  border-bottom: 2px black solid;
  border-radius: 1rem;
  padding: 0.2rem;
}

.nickname-form label {
  color: white;
}

.nickname-form button {
  padding: 0.1rem;
}

.lobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.lobby .lobby-chat {
  margin: 2rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.lobby .lobby-chat .chat-header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #494848;
  width: 100%;
  color: white;
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  border-bottom: white 1px solid;
}

.lobby .lobby-chat .messages {
  height: 30rem;
  width: 100%;
  background-color: #494848;
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  overflow-y: auto;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lobby .lobby-chat .messages .message {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: #829287;
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  color: white;
  padding: 0.5rem;
}

.lobby .lobby-chat .messages .right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #48a165;
}

.lobby .lobby-chat form input {
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.lobby .lobby-chat form button {
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.lobby .lobby-players {
  padding: 1rem;
  margin: 2rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  border-radius: 2rem;
  background-color: #494848;
  font-size: clamp(2rem, 2.5vw, 3.5rem);
}

.lobby .lobby-players button {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.lobby .lobby-players .player-list .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lobby .lobby-players .player-list .player p {
  font-size: clamp(1.5rem, 2vw, 3rem);
  color: white;
  margin-right: 2rem;
  overflow: auto;
}

.lobby .lobby-players .player-list .player .ready {
  font-size: clamp(1.5rem, 2vw, 3rem);
  background-color: #a13232;
}

.lobby .lobby-players .player-list .player .active {
  background-color: #48a165;
}

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: white;
}

.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black {
  background-color: black;
}

.color.red {
  background-color: red;
}

.color.green {
  background-color: green;
}

.color.blue {
  background-color: blue;
}

.color.yellow {
  background-color: yellow;
}

.gamelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(3rem, 3vw, 5rem);
  color: white;
  gap: 3rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 1rem;
  margin: 3rem;
  text-align: center;
}

.gamelist .game:first-of-type {
  margin-top: 3rem;
}

body {
  overscroll-behavior: contain;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #1b1b1b;
}
/*# sourceMappingURL=styles.css.map */