.pregame {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--menu-color);
    padding: 2rem;
    border-radius: 2rem;
    animation: start 1s forwards;

    & > * {
        color: white;
        font-size: var(--font-text-size);
    }

    & > *:not(:last-child) {
        margin-bottom: 5%;
    }

    label {
        align-self: flex-start;
    }
    
    input {
        color: black;
        outline: none;
        border: none;
        border-bottom: black solid 2px;
    }

    @keyframes slide {
        100% { 
            opacity: 0;
            transform: translateX(-100vw); 
        }
    }
}